<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf8">  
  <script type="text/javascript" src="/javascripts/racer.js"></script>
  <title>Tubbyracer</title>  
</head>  
<body>  

  <header>   
      <h1>TubbyRacer!</h1>  
  </header>  

  <div id="main">  
   <form action="/" method="post">
      <p id="paragraph"><%= @paragraph %></p>
      <input type="hidden" value=<% @paragraph %> />
      <textarea name="input"></textarea>
      <button name='submit'>Done!</button>
    </form> 
  </div>  

  <script type="text/javascript">
    document.onreadystatechange = function(){
      typeRacer(document);
    };
    </script>

  <footer>  
    
  </footer>  
</body>  
</html>  
