<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf8">  
  <script type="text/javascript" src="/javascripts/racer.js"></script>
  <title>Tubbyracer</title>  
</head>  
<body>  

  <header>   
      <h1>TubbyRacer!</h1>  
  </header>  

  <div class="tubby">
  </div>
  

  <div id="game">  
   <form action="/" method="post">
      <p id="gameData"><%= @paragraph %></p>
      <textarea name="gameArea"></textarea>
    </form> 
    <button id="start">Start!</button>
  </div>  

  <script type="text/javascript">
    document.onreadystatechange = function(){
      typeRacer(document);
    };
    </script>

  <footer>  
    
  </footer>  
</body>  
</html>  
