<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf8">  
  <title>Tubbyracer</title>  
</head>  
<body>  
  <header>  
 
      <h1>TubbyRacer!</h1>  
 
 
  </header>  
  
  <div id="main">  
   <p> Random Paragraph </p>
   <form method="post", action"/new">

    <p><%= @paragraph %></p>
    <textarea name="input"></textarea>
    <input type="submit", value="Done!"/>
    </form> 
  </div>  
  
  <footer>  
    
  </footer>  
</body>  
</html>  
