<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf8">  

  <title>Tubbyracer</title>  
</head>  
<body>  

  <header>  

 
      <h1>TubbyRacer!</h1>  
 
 
  </header>  

  <div id="main">  
<!--    <p> Random Paragraph </p> -->
   <form action="/" method="post">

      <p id="paragraph"><%= @paragraph %></p>
      <input type="hidden" value=<% @paragraph %> />
      <textarea id="input" name="input" onkeyup="listen()"></textarea>
      <button name='submit'>Done!</button>
    </form> 
    <a href="#" onclick="start()"> <h2>Start!</h2> </a>
    </div>  
  
  <script type="text/javascript">
    var input = document.getElementById('input');
    var text = document.getElementById('paragraph').innerText
    
    var start_time = 0;
    var finish = document.getElementsByName('submit')[0];
    var done = false


    function listen() {
      console.log(input.value)
      var regex = new RegExp(input.value)
      if ( text.match(regex)) { console.log("true")
      } else {
        console.log("false")
      } 
      if (text === input.value && done === false) {
        finish_time = new Date()
        wpm((finish_time - start_time)/1000)
        done = true

      }
    }

    function wpm(time) {
      var wpm = text.split(" ").length / (time / 60)
      alert("You typed at " + parseInt(wpm) + "words per minute!")
    }
    
    function start() {
        setTimeout(function(){
        start_time = new Date();
      },3000);
    }

  </script>

  <footer>  
    
  </footer>  
</body>  
</html>  
