<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf8">  
  <script type="text/javascript" src="/javascripts/racer.js"></script>
  <link href="/style.css" rel="stylesheet">  
  <title>Tubbyracer</title>  
</head>  
<body>  

  <header>   
      <h1>TubbyRacer!</h1>  
  </header>  

    <div class="tubby">
      <img src="/telepoonscooter.gif">
    </div>

  <div class="main">  

    

     <form action="/" method="post">
        <p class="mainData"><%= @paragraph %></p>
        <textarea class="mainArea" disabled></textarea>
      </form> 
      <div class="mainResults"></div>
      <button class="mainStart">Start!</button>
  </div>  

  <script type="text/javascript">
    document.onreadystatechange = function(){
      typeRacer(document);
    };
    </script>

  <footer>  
    
  </footer>  
</body>  
</html>  
